.vscode/*
*/bin
Pipeline.FrontEnd/node_modules
*/obj
Pipeline.FrontEnd/Data/Migrations
Pipeline.FrontEnd/app.db
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json