.vscode/*
Pipeline.FrontEnd/bin
Pipeline.FrontEnd/node_modules
Pipeline.FrontEnd/obj
Pipeline.FrontEnd/Data/Migrations
Pipeline.FrontEnd/app.db
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json